@font-face {
  font-family: "radio space";
  src: url("./../font/radiospace.ttf");
}

@font-face {
  font-family: "fhspace";
  src: url("./../font/Fh_Space.otf");
}

.divspacerentals {
  box-shadow: 0 0 30px rgba(1, 21, 38, 1);
  color: white;
  border-radius: 20px;
  font-size: 20px;
  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 8%;
  margin-bottom: 8%;
  background: rgba(1, 21, 38, 1);
  padding: 20px 22px;
}

.container_des_img {
  margin-bottom: 2%;
}

.title_text {
  text-align: center;
  margin-bottom: 3%;
  font-family: "radio space";
  font-size: 4rem;
  color: #a68b03;
}

.title_text_confirmation {
  text-align: center;
  margin-bottom: 3%;
  font-family: "fhspace";
  font-size: 4rem;
  color: #a68b03;
}

.des_text_confirmation {
  line-height: 30px;
  font-family: "fhspace";
  text-align: justify;
  text-justify: inter-word;
}

.des_text_confirmation_other {
  line-height: 30px;
  font-family: "fhspace";
}

.gold{color:#a68b03;
font-weight: bold
}

.textright{text-align: right;

  line-height: 30px;
  font-family: "fhspace";
}

.mbottom{margin-bottom:3%}

.title_text_price {
  text-align: center;
  margin-bottom: 5%;
  font-family: "radio space";
  font-size: 3rem;
  color: white;
}

.des_text {
  line-height: 30px;
  font-family: "fhspace";
  text-align: justify;
  text-justify: inter-word;
}

.image_resize {
  height: auto;
  width: 100%;
  box-shadow: 0px 0px 5px black;
  border-radius: 20px;
}

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #023859;
  color: #a68b03;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #a68b03;
  color: white;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "radio space";
  font-weight: 600;
  font-size: 1.5rem;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: rgba(255, 249, 249, 0.877);
  overflow: hidden;
  transition: max-height 0.6s ease;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Style the accordion content text */
.accordion__text {
  color: black;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}

.center {
  text-align: center;
}

.centerdiv {
  display: flex;
  justify-content: center;
}

.black {
  color: black;
}

.button4 {
  position: absolute;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: black;
  margin-bottom: 4%;
  font-size: 1.2rem;
  cursor: pointer;
}
a.button4:hover {
  border-color: rgba(255, 255, 255, 1);
}

.buttonDisable {
  display: inline-block;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: black;
  margin-left: 4%;
  font-size: 1rem;
  cursor: pointer;
}

.button_travel {
  display: inline-block;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #a68b03;
  margin-left: 4%;
  font-size: 1.5rem;
  cursor: pointer;
}
a.button_travel:hover {
  border-color: rgba(255, 255, 255, 1);
}

.button_travelOff {
  display: inline-block;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #666A73;
  margin-left: 4%;
  font-size: 1.5rem;
  cursor: not-allowed;
}

.blueColor {
  color: #4a90e2;
}

.button_buy {
  display: flex;
  justify-content: flex-end;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #a68b03;
  margin-left: 4%;
  font-size: 1.5rem;
  cursor: pointer;
  
}
a.button_buy:hover {
  border-color: rgba(255, 255, 255, 1);
}

.divbutton{width:100%;display: flex;
  justify-content: flex-end; }

.button_back {
  display: inline-block;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #666A73;
  margin-left: 4%;
  font-size: 1.5rem;
  cursor: pointer;
}
a.button_back:hover {
  border-color: rgba(255, 255, 255, 1);
}

.borderblack{

  border-top: 4px solid black;
  padding-top: 4%
}



.borderbottomblack{

  border-bottom: 4px solid black;
  padding-bottom: 4%
}

.textcent{text-align:center}
.marginr{margin-right:9%}

.DayPicker-Day:hover {
  background-color: #a68b03 !important;
}

.Selectable
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: black;
}

.Selectable {
  color: white;
  border: 2px solid black;
}

.Selectable {
  background-color: #023859;
}

.Selectable .DayPicker-Day {
  border-radius: 0 !important;

}

.DayPicker{  font-size: 1.5rem !important;
  margin-top:8%
}

.Selectable .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #a68b03 !important;
}

.text_date {
  margin-top: 8%;
  margin-bottom: 2%;
}

.between{justify-content: space-between;}

.container_price {
  margin-bottom: 5%;
  margin-top: 5%;
  color: black;
  justify-content: space-between;
  
}
.flexone{justify-content: space-between}

.container_button {
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  
}

.title_money {
  border-bottom: 2px solid #a68b03;
  text-align: center;
}

.Button_insurance {
  display:flex;
  justify-content:center;
}

.price_tag {
  line-height: 40px;
  text-align: center;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top:3%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border: solid black;
  border-width: 0 3px 3px 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;

  border: solid black;
  border-width: 2px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #023859;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #a68b03;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 540px) {
  .mob-0 {
    display: none;
  }
  .mob-1 {
    width: 8.33%;
  }
  .mob-2 {
    width: 16.66%;
  }
  .mob-3 {
    width: 25%;
  }
  .mob-4 {
    width: 33.33%;
  }
  .mob-5 {
    width: 41.66%;
  }
  .mob-6 {
    width: 50%;
  }
  .mob-7 {
    width: 58.33%;
  }
  .mob-8 {
    width: 66.66%;
  }
  .mob-9 {
    width: 75%;
  }
  .mob-10 {
    width: 83.33%;
  }
  .mob-11 {
    width: 91.66%;
  }
  .mob-12 {
    width: 100%;
  }

  .rowmob {
    display: flex;
    flex-direction: row;
  }
  .colmob {
    display: flex;
    flex-direction: column;
  }

  .wrap{
    flex-wrap: nowrap;
  }

  .mrtwo{margin-left:2%}
  
  .textright{text-align:left; margin-bottom:10%}
}

@media screen and (max-width: 540px) {
  .mob-offset-0 {
    display: none;
  }
  .mob-offset-1 {
    margin-left: 8.3%;
  }
  .mob-offset-2 {
    margin-left: 16.6%;
  }
  .mob-offset-3 {
    margin-left: 25%;
  }
  .mob-offset-4 {
    margin-left: 33.3%;
  }
  .mob-offset-5 {
    margin-left: 41.6%;
  }
  .mob-offset-6 {
    margin-left: 50%;
  }
  .mob-offset-7 {
    margin-left: 58.6%;
  }
  .mob-offset-8 {
    margin-left: 67%;
  }
  .mob-offset-9 {
    margin-left: 75%;
  }
  .mob-offset-10 {
    margin-left: 83.3%;
  }
  .mob-offset-11 {
    margin-left: 91.6%;
  }
  .mob-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 541px) and (max-width: 720px) {
  .tab-0 {
    display: none;
  }
  .tab-1 {
    width: 8.33%;
  }
  .tab-2 {
    width: 16.66%;
  }
  .tab-3 {
    width: 25%;
  }
  .tab-4 {
    width: 33.33%;
  }
  .tab-5 {
    width: 41.66%;
  }
  .tab-6 {
    width: 50%;
  }
  .tab-7 {
    width: 58.33%;
  }
  .tab-8 {
    width: 66.66%;
  }
  .tab-9 {
    width: 75%;
  }
  .tab-10 {
    width: 83.33%;
  }
  .tab-11 {
    width: 91.66%;
  }
  .tab-12 {
    width: 100%;
  }

  .tabcol{display: flex;flex-direction: column;;}

  .marginbut{margin-right:15%}
}

@media screen and (min-width: 541px) and (max-width: 720px) {
  .tab-offset-0 {
    display: none;
  }
  .tab-offset-1 {
    margin-left: 8.3%;
  }
  .tab-offset-2 {
    margin-left: 16.6%;
  }
  .tab-offset-3 {
    margin-left: 25%;
  }
  .tab-offset-4 {
    margin-left: 33.3%;
  }
  .tab-offset-5 {
    margin-left: 41.6%;
  }
  .tab-offset-6 {
    margin-left: 50%;
  }
  .tab-offset-7 {
    margin-left: 58.6%;
  }
  .tab-offset-8 {
    margin-left: 67%;
  }
  .tab-offset-9 {
    margin-left: 75%;
  }
  .tab-offset-10 {
    margin-left: 83.3%;
  }
  .tab-offset-11 {
    margin-left: 91.6%;
  }
  .tab-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 721px) {
  .dsk-0 {
    display: none;
  }
  .dsk-1 {
    width: 8.33%;
  }
  .dsk-2 {
    width: 16.66%;
  }
  .dsk-3 {
    width: 25%;
  }
  .dsk-4 {
    width: 33.33%;
  }
  .dsk-5 {
    width: 41.66%;
  }
  .dsk-6 {
    width: 50%;
  }
  .dsk-7 {
    width: 58.33%;
  }
  .dsk-8 {
    width: 66.66%;
  }
  .dsk-9 {
    width: 75%;
  }
  .dsk-10 {
    width: 83.33%;
  }
  .dsk-11 {
    width: 91.66%;
  }
  .dsk-12 {
    width: 100%;
  }
}

@media screen and (min-width: 721px) {
  .dsk-offset-0 {
    display: none;
  }
  .dsk-offset-1 {
    margin-left: 8.3%;
  }
  .dsk-offset-2 {
    margin-left: 16.6%;
  }
  .dsk-offset-3 {
    margin-left: 25%;
  }
  .dsk-offset-4 {
    margin-left: 33.3%;
  }
  .dsk-offset-5 {
    margin-left: 41.6%;
  }
  .dsk-offset-6 {
    margin-left: 50%;
  }
  .dsk-offset-7 {
    margin-left: 58.6%;
  }
  .dsk-offset-8 {
    margin-left: 67%;
  }
  .dsk-offset-9 {
    margin-left: 75%;
  }
  .dsk-offset-10 {
    margin-left: 83.3%;
  }
  .dsk-offset-11 {
    margin-left: 91.6%;
  }
  .dsk-offset-12 {
    margin-left: 100%;
  }

  .coldsk {
    display: flex;
    flex-direction: column;
  }
  .rowdsk {
    display: flex;
    flex-direction: row;
  }

  .centerdivdsk {
    display: flex;
    justify-content: center;
  }
}
