.color-planets-txt{
    margin-top: 5px;
    margin-bottom: 55px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'fhspace'
    
}



.font-size-h1-planets{
    margin-top: 15px;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-style: solid;
    font-family: 'radio space';
}

.deco-h-two-mercury{
    text-decoration-line: underline whitesmoke;
}

h1{
    align-content: center;
}