.footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;  
  background-color: black;
  color:#A68B03;
  z-index : 10;
  
}
.row{
  display: flex;
  flex-direction: row;
  
}
.help{  
  padding-left: 2%;  
}
.myAccount{
  padding-right: 15px;
}
.social i{
  padding-top:15px;
  padding-right: 10px;
}

li{
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5rem;
}

h4{
  font-size: 1.5rem;
}

li a{
  text-decoration: none;
  color: #A68B03;
}
@media screen and (max-width: 540px){
  li, ul, h4{
    font-size:14px;
  }
}  