#title {
    text-align: flex-start;
    font-family: arial, sans-serif;
    font-weight: 200;
    color: white;
    padding-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  #planets {
    display: flex;
    align-content: center;
    text-align: center;
    font-weight: 300;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;     
    color: white;
  }
#planets tr:hover {
    opacity: .8;
    color: rgb(230, 248, 69);
    font-weight: 300;
  }

#planets td, #planets th {
  border: 2px solid yellow;
  padding: 12px;
  width :25%;
}
#planets th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(230, 248, 69);
  opacity: .8;
  color: black;
  
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
button{
  width:100px;
  margin-top: 2%;
  margin-bottom: 15%;
  
}
input{
  width: 80px;
  background: lightyellow;
  color: white;
  border: none;
}
table th{
  border: none;
}
