.title {
  font-family: arial, sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #A68B03; 
  margin-bottom: 10px;    
}

#planets {
  display: flex;
  align-content: center;
  text-align: center;
  font-weight: 300;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;     
  color: white;    
}
#planets tr:hover {
  opacity: .8;
  color: rgb(230, 248, 69);
  font-weight: 300;
}

#planets td{
width :200px;
border: 2px solid #A68B03;
padding: 12px;  
padding-left:10px;
padding-right:40px;
}
#planets th {

padding-top: 12px;
padding-bottom: 12px;  
text-align: center;
background-color: #A68B03;
opacity: .8;
color: black;
border: none;  
}

.containerTable{
display: flex;
flex-direction: column;
min-height: 80vh;
margin-left: 12%;
margin-top:10%;
width:100%;
justify-content: center;

}

.btnDsk{
width:150px;
margin-top: 4%;
margin-bottom: 15%;
background: #A68B03;
color: black;
border: none;
border-radius: 10px;
padding: 10px 15px;
font-size: 1.2rem;   
}
input{
width: 100px;
background: #023859;
color: wheat;
border: none;
border-radius: 10px;
padding:5px;
}


h3{
color: #A68B03;
}

h2{
display: flex;
justify-content: center;
text-align: center;
padding-top: 15px;
padding-bottom: 15px;
}
@media screen and (min-width: 541px) and (max-width: 768px){
.containerTable{
  width: 98%;
  margin-left: 7px;
  
   
}
#title{
  margin-top: -30px;
}
#planets{
  display: flex;
  justify-content: center;
}
}
@media screen and (max-witdh: 540px){
.containerTable{
  display: none;
}  
#title{
  font-size: 2.5rem;
} 

}
.selectMob{
  margin-top: 35%;
}
.dropdown{ 
width: 150px;
height: 170px;
color:black;
background-color: #A68B03;
font-size: 1rem;
border-radius: 10px;
margin-left: 124px;
margin-right: auto;

 

}
.dropdown p{
padding: 5px;


}
.disappear{
display: none;
}
.btnMob{
margin:5px;
background-color:#A68B03 ;
width: 150px;
padding: 5px;
border-style: none;
border-radius: 10px;
font-size: 1.2rem;
color: black;
}

.btnMobConfirm{
margin-top:15px;
background-color:#A68B03 ;
font-size: 1.2rem;
color: black;
width: 150px;
padding: 5px;
border-style: none;
border-radius: 10px;
}
